main {}

.text-center {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}

.fav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.pokemon-card img {
    width: 150px;
    height: 150px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    background-color: #F3EDF7;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.65);
    border-radius: 20px;
    width: 200px;
    height: 250px;
    padding: 10px;
}

.pokemon-card:hover {
    transform: scale(1.05);
    transition: 0.1s;
}

.pokemon-card h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
}

.pokemon-image {
    position: relative;
    width: 150px;
    height: 150px;
}

.pokemon-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.details-btn{
    background-color: #6C63FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.details-btn:hover{
    background-color: #574fd6;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 350px;
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 26px;
  font-weight: bold;
}
