main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centraliza tudo dentro do main */
    gap: 40px;
    /* espaçamento entre seções (inputs, cards, botão, etc.) */
}

/* Agrupa tudo (inputs e cards) */
.comp-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centraliza as linhas */
    gap: 30px;
    width: 100%;
    margin-top: 25px;
}

/* Linha de inputs e de cards — mesma largura e alinhamento */
.inputs-row,
.cards-row {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    width: 100%;
    /* max-width: 900px; */
}

/* Inputs */
.pokemon1,
.pokemon2 {
    width: 400px;
    height: 60px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.65);
    border-radius: 20px;
}

/* Cards */
.poke1,
.poke2 {
    width: 400px;
    height: 300px;
    background: #f3edf7;
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.65);
}
.pokemon-comp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 15px;
}

/* Imagem */
.pokemon-comp > img {
    width: 150px;
    height: 150px;
    grid-row: 1 / span 3; /* deixa a imagem ocupar várias linhas */
    justify-self: center;
}

/* Agrupa nome + tipo */
.pokemon-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* muda pra center se quiser centralizar */
    grid-column: 2;
    grid-row: 1;
}

/* Nome do Pokémon */
.type-name {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

/* Tipo (electric, fire, etc.) */
.pokemon-type {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    border-radius: 10px;
    padding: 2px 8px;
    text-transform: capitalize;
    margin-top: 5px;
    text-align: center;
}

/* Stats */
.pokemon-comp p {
    margin: 3px 0;
}

/* Total */
.total {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

/* Texto do topo */
.text-center {
    text-align: center;
    background-color: #F3EDF7;
    font-family: var(--font-family);
    color: var(--text-color);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    padding: 10px;
    width: 350px;
    margin: 0 auto;
}

/* Botão centralizado igual o texto */
.button-comp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.button-comp>button {
    font-size: 30px;
    font-weight: 600;
    background-color: #F3EDF7;
    font-family: var(--font-family);
    color: var(--text-color);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    width: 350px;
    transition: 0.3s;
}

.button-comp>button:hover {
    background-color: #ee6868;
    color: white;
}





