* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #000;

  --font-family: "Montserrat", sans-serif;
  --text-search: 600 24px/auto var(--font-family);
  --text-account: 600 15px/auto var(--font-family)
}

body img {
  position: sticky;
  width: auto;
}